@use "./sideBar.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Lora&family=Montserrat:wght@400;500&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,200;1,500&family=Passion+One&family=Playfair+Display&family=Poppins&family=Roboto&display=swap');

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

/* NAVBAR */
.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 50px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

nav .navbar-toggler-icon {
  width: 20px;
  outline: none;
}

nav .navbar-toggler:focus {
  outline: none !important;
  position: relative;
}

nav .btn-group {
  position: fixed;
  .btn {
    margin: 0 6px;
  }
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 60px;
  border-radius: 0;
}

#navbar-toggler:focus {
  outline: none !important;
}

/* HERO SECTION */
.landing-hero {
  margin-top: 50px;
}



.link-white {
  color: white;
  text-decoration: none;
}

.link-white:hover {
  color: white;
  text-decoration: none;
}

.hidden-item {
  display: none;
}

.visible-item {
  display: block;
}
