@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Metal+Mania&family=Nunito+Sans:opsz,wght@6..12,500&display=swap');

.navbar {
    .navbar-brand {
        font-family: 'Caesar Dressing', cursive;
        font-family: 'Metal Mania', cursive;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
    }
}

