@media (min-width: 812px) and (max-width: 823px) {
    #repair-process {
        position: relative;
        left: -35px !important;
    }
}
@media (min-width: 824px) and (max-width: 834px) {
    #repair-process {
        position: relative;
        left: -45px !important;
    }
}
@media (min-width: 835px) and (max-width: 849px) {
    #repair-process {
      position: relative;
      left: -50px !important;
    }
}

@media (min-width: 850px) and (max-width: 864px) {
    #repair-process {
      position: relative;
      left: -55px !important;
    }
}

@media (min-width: 865px) and (max-width: 890px) {
    #repair-process {
      position: relative;
      left: -65px !important;
    }
}
@media (min-width: 891px) and (max-width: 911px) {
    #repair-process {
      position: relative;
      left: -75px !important;
    }
}

@media (min-width: 911px) and (max-width: 925px) {
    #repair-process {
      position: relative;
      left: -80px !important;
    }
}
@media (min-width: 925px) and (max-width: 935px) {
    #repair-process {
      position: relative;
      left: -85px !important;
    }
}
@media (min-width: 935px) and (max-width: 965px) {
    #repair-process {
      position: relative;
      left: -95px !important;
    }
}

@media (min-width: 965px) and (max-width: 971px) {
    #repair-process {
      position: relative;
      left: -105px !important;
    }
}

@media (min-width: 971px) and (max-width: 992px) {
    #repair-process {
      position: relative;
      left: -115px !important;
    }
}